<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935325235268-9kdf0v1dn7pg7ij47cvi4ncfnlb2tgbo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935325235268-9kdf0v1dn7pg7ij47cvi4ncfnlb2tgbo</string>
	<key>API_KEY</key>
	<string>AIzaSyCtwcIGd8gKV2_1RqQ6ojy8FeY3hDNYoGo</string>
	<key>GCM_SENDER_ID</key>
	<string>935325235268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Developer.VideoTube</string>
	<key>PROJECT_ID</key>
	<string>denemedir-b3eb8</string>
	<key>STORAGE_BUCKET</key>
	<string>denemedir-b3eb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:935325235268:ios:f28d020aa5a3880fb26411</string>
</dict>
</plist>
